<div class="container-sm mt-2">
  <form class="row g-3">

<!--    Personal Details    -->

    <div class="col-md-12 font-bold-l">
      Personal Details
    </div>

    <div class="col-md-6">
      <label for="jobTitle" class="form-label">Job Title</label>
      <input type="text" class="form-control" id="jobTitle">
    </div>
    <div class="col-md-6">
      <label for="uploadPhoto" class="form-label">Upload Photo</label>
      <input type="file" class="form-control" id="uploadPhoto">
    </div>
    <div class="col-md-6">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName">
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName">
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="text" class="form-control" id="email">
    </div>
    <div class="col-md-6">
      <label for="phone" class="form-label">Phone</label>
      <input type="text" class="form-control" id="phone">
    </div>
    <div class="col-md-6">
      <label for="country" class="form-label">Country</label>
      <input type="text" class="form-control" id="country">
    </div>
    <div class="col-md-6">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="city">
    </div>
    <div class="col-md-6">
      <label for="street" class="form-label">Streer</label>
      <input type="text" class="form-control" id="street">
    </div>
    <div class="col-md-6">
      <label for="postCode" class="form-label">Post Code</label>
      <input type="text" class="form-control" id="postCode">
    </div>
    <div class="col-md-6">
      <label for="drivingLicense" class="form-label">Driving License</label>
      <input type="text" class="form-control" id="drivingLicense">
    </div>
    <div class="col-md-6">
      <label for="nationality" class="form-label">Nationality</label>
      <input type="text" class="form-control" id="nationality">
    </div>
    <div class="col-md-6">
      <label for="dateOfBirth" class="form-label">Date Of Birth</label>
      <input type="text" class="form-control" id="dateOfBirth">
    </div>

<!--    Pro File    -->

    <div class="col-md-12 font-bold-l">
      Pro File
    </div>

    <div class="col-md-12">
      <textarea class="form-control" rows="4"></textarea>
    </div>

<!--    Employment History   -->

    <div class="col-md-12 font-bold-l">
      Employment History
    </div>

    <div class="col-md-6">
      <label for="empJobTitle" class="form-label">Job Title</label>
      <input type="text" class="form-control" id="empJobTitle">
    </div>
    <div class="col-md-6">
      <label for="employer" class="form-label">Employer</label>
      <input type="text" class="form-control" id="employer">
    </div>
    <div class="col-md-3">
      <label for="empStartDate" class="form-label">Start Date</label>
      <input type="text" class="form-control" id="empStartDate">
    </div>
    <div class="col-md-3">
      <label for="empEndDate" class="form-label">End Date</label>
      <input type="text" class="form-control" id="empEndDate">
    </div>
    <div class="col-md-6">
      <label for="empCity" class="form-label">City</label>
      <input type="text" class="form-control" id="empCity">
    </div>
    <div class="col-md-12">
      <label for="empDescription" class="form-label">Description</label>
      <textarea class="form-control" rows="4" id="empDescription"></textarea>
    </div>

<!--    Education   -->

    <div class="col-md-12 font-bold-l">
      Education
    </div>

    <div class="col-md-6">
      <label for="school" class="form-label">School</label>
      <input type="text" class="form-control" id="school">
    </div>
    <div class="col-md-6">
      <label for="degree" class="form-label">Degree</label>
      <input type="text" class="form-control" id="degree">
    </div>
    <div class="col-md-3">
      <label for="eduStartDate" class="form-label">Start Date</label>
      <input type="text" class="form-control" id="eduStartDate">
    </div>
    <div class="col-md-3">
      <label for="eduEndDate" class="form-label">End Date</label>
      <input type="text" class="form-control" id="eduEndDate">
    </div>
    <div class="col-md-6">
      <label for="eduCity" class="form-label">City</label>
      <input type="text" class="form-control" id="eduCity">
    </div>
    <div class="col-md-12">
      <label for="eduDescription" class="form-label">Description</label>
      <textarea class="form-control" rows="4" id="eduDescription"></textarea>
    </div>
  </form>
</div>
