@model Pickle.CVlite.API.Models.Resume
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@Model.Id</title>
    <style>
            body {
                font-family: "Roboto Light", sans-serif;
            }
    
            .container-top {
                background-color: aquamarine;
                padding: 10px;
                width: 1000px;
                margin-inline: auto;
                margin-bottom: 10px;
            }
    
            .container-flex {
                display: flex;
                flex-direction: row;
                width: 1020px;
                margin: auto;
            }
            
            .container-left {
                width: 400px;
                margin-right: 10px;
                background-color: aliceblue;
                padding: 10px;
            }
            
            .container-right {
                width: fit-content;
                background-color: aliceblue;
                padding: 10px;
            }
            
            .personal-details {
                margin-bottom: 20px;
                line-height: 1.7;
            }
            
            .profile {
            }
    
            .employment-history {
            }
    
            .one-more {
            }
    
            .education {
            }
        </style>
</head>
<body>
<h1>@Model.PersonalDetail.FirstName @Model.PersonalDetail.LastName</h1>
<br/>

@foreach (var hobby in Model.Skills)
{
    <h1>@hobby.Name</h1>
}

</body>
</html>