<ul class="list-group list-group-horizontal justify-content-center">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
</ul>

<h2 class="my-2 text-center"
    *ngIf="isFirstStep"
>Start build your CV</h2>
<router-outlet></router-outlet>
<form>
  <div class="form-group row mt-2 justify-content-center">
    <button *ngIf="canBack"
            type="button"
            class="btn btn-primary col-sm-1 mx-2"
            (click)="gotoBack()"
    >Back</button>
    <button type="button"
            class="btn btn-outline-primary col-sm-1"
            (click)="gotoNext()"
    >Next</button>
  </div>
</form>
